<% if notice %>
  <div class='alert alert-warning' role='alert'>
    <%= notice %>
  </div>
<% end %>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
<% end %>

<%= form_for user,
            url: login_path,
            method: :post,
            html: { class: 'row g-3 m-3' } do |f| %>

  <div class='col-12 mb-3'>
    <%= f.label :email, t('user.email'), class: 'form-label' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class='col-12 mb-3'>
    <%= f.label :password, t('user.password'), class: 'form-label' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class='col-12 mt-3 mb-3'>
    <%= f.submit t('button.submit'), class: 'btn btn-primary' %>
    <%= link_to t('link.back_root'), root_path, class: 'btn btn-secondary' %>
  </div>

<% end %>