<h1 class='m-3'><%= t('user_list') %></h1>

<% if notice %>
  <div class='alert alert-warning' role='alert'>
    <%= notice %>
  </div>
<% end %>

<%= link_to t('new_user'), new_admin_user_path, class: 'btn btn-primary m-3' %>

<table class='table table-striped table-hover text-center'>
  <thead class='table'>
    <tr>
        <td><%= t('user.id') %></td>
        <td><%= t('user.name') %></td>
        <td><%= t('user.email') %></td>
        <td><%= t('user.role') %></td>
        <td><%= t('user.tasks') %></td>
        <td colspan='2'><%= t('user.option') %></td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= I18n.t("to_#{user.role}") %></td>
        <td><%= link_to user.tasks.count, admin_user_path(user) %></td>
        <td><%= link_to t('user.edit'), edit_admin_user_path(user) %></td>
        <td>
          <%= link_to t('user.delete'),
                      admin_user_path(user),
                      method: 'delete',
                      data: {confirm: t('notice.confirm')}
          %>
      </tr>
    <% end %>
  <tbody>
</table>

<%= paginate @users %>
